@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Condensed Regular'), url('DINPro-Cond.woff') format('woff');
}

body {
  font-family:'Arial';
}

.card {
  display: inline-block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'DIN Pro Condensed Regular';
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.card-sm {
  width: 115px;
  height: 171px;
}

.card-md {
  width: 150px;
  height: 223px;
}

.card-lg {
  width: 215px;
  height: 320px;
}

/*450x669,150x223*/

/*----------------------------------------------------------------------*/

img.player,img.nation,img.badge,.rating,.position,.name,
.pace,.shooting,.passing,.dribbling,.defending,.physical,
.divider-nat,.divider-bad,.divider-nam,.divider-att,.divider-che,.divider-special {
  position: absolute;
}

.card img.player {
  top: 10.7%;
  left: 32%;
  width: 63.4%;
}

.card img.nation {
  top: 33.3%;
  left: 16%;
  width: 12.6%;
}

.card img.badge {
  top: 42%;
  left: 15.2%;
  width: 14%;
}

.card .rating {
  width: 15%;
  top: 10.8%;
  left: 14.6%;
}

.card .position {
  font-weight: lighter;
  width: 15%;
  top: 23.8%;
  left: 14.6%;
}

.card .name {
  width: 91.3%;
  top: 53.6%;
  left: 4%;
  letter-spacing: 0.2px;
}

.card .pace,.card .shooting,.card .passing,.card .dribbling,.card .defending,.card .physical {
  text-align: left;
  width: 33%;
}

.card .pace,.card .shooting,.card .passing {
  left: 18%;
}

.card .dribbling,.card .defending,.card .physical {
  left: 62%;
}

.card .pace::after,.card .shooting::after,.card .passing::after,.card .dribbling::after,.card .defending::after,.card .physical::after {
  white-space: pre;
  font-weight: lighter;
}

.card .pace {
  top: 64.5%;
}

.card .shooting {
  top: 71.5%;
}

.card .passing {
  top: 78.5%;
}

.card .dribbling {
  top: 64.5%;
}

.card .defending {
  top: 71.5%;
}

.card .physical {
  top: 78.5%;
}

.card .pace::after {
  content: " PAC";
}

.card .shooting::after {
  content: " SHO";
}

.card .passing::after {
  content: " PAS";
}

.card .dribbling::after {
  content: " DRI";
}

.card .defending::after {
  content: " DEF";
}

.card .physical::after {
  content: " PHY";
}

/*----------------------------------------------------------------------*/
/*Tamaños*/

.card.card-sm .rating {
  font-size: 150%;
}

.card.card-sm .position {
  font-size: 70%;
}

.card.card-sm .name {
  font-size: 82%;
}

.card.card-sm .pace,.card.card-sm .shooting,.card.card-sm .passing,.card.card-sm .dribbling,.card.card-sm .defending,.card.card-sm .physical {
  font-size: 70%;
}

/*--------------------*/

.card.card-md .rating {
  font-size: 196%;
}

.card.card-md .position {
  font-size: 91%;
}

.card.card-md .name {
  font-size: 107%;
}

.card.card-md .pace,.card.card-md .shooting,.card.card-md .passing,.card.card-md .dribbling,.card.card-md .defending,.card.card-md .physical {
  font-size: 91%;
}

/*--------------------*/

.card.card-lg .rating {
  font-size: 280%;
}

.card.card-lg .position {
  font-size: 131%;
}

.card.card-lg .name {
  font-size: 153%;
}

.card.card-lg .pace,.card.card-lg .shooting,.card.card-lg .passing,.card.card-lg .dribbling,.card.card-lg .defending,.card.card-lg .physical {
  font-size: 131%;
}

/*----------------------------------------------------------------------*/

.card .divider-nat {
  top: 31.4%;
  left: 17.3%;
  width: 10%;
  height: 0.4%;
}

.card .divider-bad {
  top: 39.9%;
  left: 17.3%;
  width: 10%;
  height: 0.4%;
}

.card .divider-nam {
  top: 62.5%;
  left: 17.3%;
  width: 66%;
  height: 0.4%;
}

.card .divider-att {
  top: 65.3%;
  left: 49.65%;
  width: 0.7%;
  height: 20%;
}

.card .divider-che {
  top: 88%;
  left: 44%;
  width: 12%;
  height: 0.4%;
}

.card .divider-special {
  top: 10%;
  left: 12.3%;
  width: 20%;
  height: 50%;
  background: linear-gradient(180deg, transparent 10%, rgba(0,0,0,0.6) 64%, rgba(0,0,0,0.55) 89%, rgba(0,0,0,0.05) 100%);
}

/*Colores dividers*/

.card.gold-rare .divider-nat,
.card.gold-rare .divider-bad,
.card.gold-rare .divider-nam,
.card.gold-rare .divider-att,
.card.gold-rare .divider-che, {
  /*background: linear-gradient(to right, rgba(102,92,8,0.3) 0%,rgba(102,92,8,0.8) 15%,rgba(102,92,8,1) 19%,rgba(56,44,4,1) 51%,rgba(102,92,8,1) 81%,rgba(102,92,8,0.8) 85%,rgba(102,92,8,0.3) 100%);*/
  background: #3f3205;
  opacity: 0.8;
}

.card.silver-rare .divider-nat,
.card.silver-rare .divider-bad,
.card.silver-rare .divider-nam,
.card.silver-rare .divider-att,
.card.silver-rare .divider-che {
  background: #303536;
  opacity: 0.4;
}

.card.bronze-rare .divider-nat,
.card.bronze-rare .divider-bad,
.card.bronze-rare .divider-nam,
.card.bronze-rare .divider-att,
.card.bronze-rare .divider-che {
  background: #3e2817;
  opacity: 0.4;
}

.card.gold-common .divider-nat,
.card.gold-common .divider-bad,
.card.gold-common .divider-nam,
.card.gold-common .divider-att,
.card.gold-common .divider-che,
.card.silver-common .divider-nat,
.card.silver-common .divider-bad,
.card.silver-common .divider-nam,
.card.silver-common .divider-att,
.card.silver-common .divider-che,
.card.bronze-common .divider-nat,
.card.bronze-common .divider-bad,
.card.bronze-common .divider-nam,
.card.bronze-common .divider-att,
.card.bronze-common .divider-che,
.card.gold-if .divider-nat,
.card.gold-if .divider-bad,
.card.gold-if .divider-nam,
.card.gold-if .divider-att,
.card.gold-if .divider-che,
.card.silver-if .divider-nat,
.card.silver-if .divider-bad,
.card.silver-if .divider-nam,
.card.silver-if .divider-att,
.card.silver-if .divider-che,
.card.bronze-if .divider-nat,
.card.bronze-if .divider-bad,
.card.bronze-if .divider-nam,
.card.bronze-if .divider-att,
.card.bronze-if .divider-che {
  background: #c6c9e2;
  opacity: 0.7;
}

.card.ucl-common .divider-nat,
.card.ucl-common .divider-bad,
.card.ucl-common .divider-nam,
.card.ucl-common .divider-att,
.card.ucl-common .divider-che,
.card.ucl-rare .divider-nat,
.card.ucl-rare .divider-bad,
.card.ucl-rare .divider-nam,
.card.ucl-rare .divider-att,
.card.ucl-rare .divider-che,
.card.ucl-live .divider-nat,
.card.ucl-live .divider-bad,
.card.ucl-live .divider-nam,
.card.ucl-live .divider-att,
.card.ucl-live .divider-che,
.card.ucl-motm .divider-nat,
.card.ucl-motm .divider-bad,
.card.ucl-motm .divider-nam,
.card.ucl-motm .divider-att,
.card.ucl-motm .divider-che,
.card.ucl-sbc .divider-nat,
.card.ucl-sbc .divider-bad,
.card.ucl-sbc .divider-nam,
.card.ucl-sbc .divider-att,
.card.ucl-sbc .divider-che,
.card.ucl-tott .divider-nat,
.card.ucl-tott .divider-bad,
.card.ucl-tott .divider-nam,
.card.ucl-tott .divider-att,
.card.ucl-tott .divider-che,
.card.uel-live .divider-nat,
.card.uel-live .divider-bad,
.card.uel-live .divider-nam,
.card.uel-live .divider-att,
.card.uel-live .divider-che {
  background: #ffffff;
  opacity: 0.4;
}

/* No funciona :(
.card-gold-rare :matches(.divider-nat,.divider-bad,.divider-nam,.divider-att,.divider-che) {
background: linear-gradient(to right, rgba(102,92,8,0.3) 0%,rgba(102,92,8,0.8) 15%,rgba(102,92,8,1) 19%,rgba(56,44,4,1) 51%,rgba(102,92,8,1) 81%,rgba(102,92,8,0.8) 85%,rgba(102,92,8,0.3) 100%);
opacity: 0.8;
}*/

/*----------------------------------------------------------------------*/

.gold-rare {
  background-image: url("../assets/cards/gold-rare.png");
  color: #3f3205;
}

.silver-rare {
  background-image: url("../assets/cards/silver-rare.png");
  color: #303536;
}

.bronze-rare {
  background-image: url("../assets/cards/bronze-rare.png");
  color: #3e2817;
}

.gold-common {
  background-image: url("../assets/cards/gold-common.png");
  color: #3f3205;
}

.silver-common {
  background-image: url("../assets/cards/silver-common.png");
  color: #303536;
}

.bronze-common {
  background-image: url("../assets/cards/bronze-common.png");
  color: #3e2817;
}

.gold-if {
  background-image: url("../assets/cards/gold-if.png");
  color: #e9cc74;
}

.silver-if {
  background-image: url("../assets/cards/silver-if.png");
  color: #b0bcc8;
}

.bronze-if {
  background-image: url("../assets/cards/bronze-if.png");
  color: #bb9266;
}

.ucl-common,.ucl-rare,.ucl-live,.ucl-motm,.ucl-sbc,.ucl-tott {
  color: #ffffff;
}

.ucl-common {
  background-image: url("../assets/cards/ucl-common.png");
}

.ucl-rare {
  background-image: url("../assets/cards/ucl-rare.png");
}

.ucl-live {
  background-image: url("../assets/cards/ucl-live.png");
}

.ucl-motm {
  background-image: url("../assets/cards/ucl-motm.png");
}

.ucl-sbc {
  background-image: url("../assets/cards/ucl-sbc.png");
}

.ucl-tott {
  background-image: url("../assets/cards/ucl-tott.png");
}

.uel-live {
  background-image: url("../assets/cards/uel-live.png");
  color: #f39200;
}

.card::after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: slide 3s infinite 3s;

  /*
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}
